#biseo-chatbox {
    min-height: 600px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding-top: 20px;
}

#biseo-chatbox-scrollable {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 20px 40px;
}

#biseo-chatbox .message {
    display: flex;
    position: relative;
}

#biseo-chatbox .message.start {
    justify-content: flex-start;
    margin-top: 50px;
}

#biseo-chatbox .message.end {
    justify-content: flex-end;
    margin-top: 50px;
}

#biseo-chatbox .message.around {
    justify-content: space-around;
    font-weight: bold;
    margin-top: 20px;
}

#biseo-chatbox .message > div {
    border-radius: 10px;
    max-width: 500px;
    box-sizing: border-box;
    position: relative;
    background-color: #F7F6F3;
    font-size: 18px;
    padding: 10px 15px;
    word-break: break-word;
}

#biseo-chatbox .message > span {
    bottom: calc(100% + 8px);
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}

#biseo-chatbox .message > div > div {
    position: absolute;
    display: flex;
    bottom: 4px;
    flex-direction: column;
}

#biseo-chatbox .message.end > div > div {
    right: calc(100% + 8px);
    align-items: flex-end;
}

#biseo-chatbox .message.start > div > div {
    left: calc(100% + 8px);
    align-items: flex-start;
}

#biseo-chatbox .message > div > div > span {
    font-size: 0.6rem;
    white-space: nowrap;
}
