#biseo-login {
    margin: 0 auto;
    width: 440px;
    height: 345px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border-radius: 4px;
}

#biseo-login div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#biseo-login h1, #biseo-login h4 {
    margin: 0 0 15px 0;
}

#biseo-login h4 {
    color: #F2A024;
}

#biseo-login a {
    padding: 10px 20px;
    color: white;
    background-color: #F2A024;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 13px;
}
