@font-face {
  font-family: 'NanumGothic';
  src: url('./fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  src: url('./fonts/NanumGothicBold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: NanumGothic;
  margin: 0;
}

#app {
  height: 100vh;
}
